li {
    list-style: none;
    margin: 3px;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    width:  auto;
    height: auto;
}

li.correct {
    color: white;
    background-color: green;
}

li.wrong {
    color: white;
    background-color: red;
}


.clickDiv{
    height: 70px;
    width: 200px;
    background: #000;
    font-size: 48px;
    font-style: normal;
    color: #FFF;
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
}
.ScreenShot {
    height:  100%;
}

.ScreenshotDiv {
    width:  600px; 
    height:  300px;
    align-content:  center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images.png')  no-repeat center;
}